@charset "utf-8";

html {
    overflow-y: auto;
}

#viz {
    width: 100%;

    text-align: center;
    overflow: scroll;
    padding-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#viz-radix-sort-canvas {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

div .radix-sort-element {
    position: absolute;
    border: 1px solid black;
    width: 55px;
    font: 20px sans-serif;
    color: black;
}

#radix-sort-bucket-labels {
    position: absolute;
    bottom: 620px;
    left: 500px;
}

.radix-sort-bucket-label {
    position: absolute;
    border-top: 1px solid black;
    width: 57px;
    font: 20px sans-serif;
    color: black;
}

/*.panel {*/
/*position: fixed;*/
/*color: white;*/
/*width: 0px;*/
/*overflow: hidden;*/
/*background: #777;*/
/*white-space: nowrap;*/
/*}*/

/*.panel-hide {*/
/*position: fixed;*/
/*cursor: pointer;*/
/*background: #777;*/
/*}*/

/*#status {*/
/*bottom: 255px;*/
/*right: 43px;*/
/*height: 54px;*/
/*white-space: normal;*/
/*}*/

/*#status p {*/
/*padding: 10px;*/
/*}*/

/*#status-hide {*/
/*bottom: 255px;*/
/*right: 0px;*/
/*padding: 19px 14px 19px 15px;*/
/*transform: rotate(180deg);*/
/*-ms-transform: rotate(180deg);*/
/*-webkit-transform: rotate(180deg);*/
/*-o-transform: rotate(180deg);*/
/*-moz-transform: rotate(180deg);*/
/*}*/

/*#codetrace {*/
/*bottom: 60px;*/
/*right: 43px;*/
/*height: 200px;*/
/*font-family: "Courier New", Courier, monospace;*/
/*}*/

/*#codetrace p {*/
/*padding: 5px 10px;*/
/*}*/

/*#codetrace p.highlighted {*/
/*background: black;*/
/*}*/

/*#codetrace-hide {*/
/*bottom: 60px;*/
/*right: 0px;*/
/*padding: 88px 14px 88px 15px;*/
/*transform: rotate(180deg);*/
/*-ms-transform: rotate(180deg);*/
/*-webkit-transform: rotate(180deg);*/
/*-o-transform: rotate(180deg);*/
/*-moz-transform: rotate(180deg);*/
/*}*/

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


/*.execAction {*/
/*cursor: pointer;*/
/*}*/

/*.execAction p:hover {*/
/*background: black;*/
/*color: white;*/
/*}*/

/*.menu-highlighted {*/
/*font-weight: bold;*/
/*text-decoration: underline;*/
/*}*/

/*.panel {*/
/*position: fixed;*/
/*color: white;*/
/*width: 0px;*/
/*overflow: hidden;*/
/*background: #777;*/
/*white-space: nowrap;*/
/*}*/

/*.panel-hide {*/
/*position: fixed;*/
/*cursor: pointer;*/
/*background: #777;*/
/*}*/

/*#current-action {*/
/*top: 30px;*/
/*right: 60px;*/
/*width: 100px;*/
/*display: block;*/
/*background: none;*/
/*overflow: normal;*/
/*white-space: normal;*/
/*text-align: right;*/
/*color: black;*/
/*font-weight: bold;*/
/*font-size: 20px;*/
/*}*/

/*#actions {*/
/*top: 30px;*/
/*left: 43px;*/
/*}*/

/*#actions p {*/
/*padding: 5px 10px;*/
/*cursor: pointer;*/
/*}*/

/*#actions {*/
/*color: white;*/
/*}*/

/*#actions p:hover {*/
/*background: black;*/
/*color: white;*/
/*}*/

/*#actions p:first-of-type {*/
/*padding-top: 10px;*/
/*}*/

/*#actions p:last-of-type {*/
/*padding-bottom: 10px;*/
/*}*/

/*#actions-hide {*/
/*top: 30px;*/
/*left: 0px;*/
/*padding-left: 14px;*/
/*padding-right: 15px;*/
/*}*/

/*.action-menu-pullout {*/
/*display: none;*/
/*position: absolute;*/
/*left: 320px;*/
/*}*/

/*.action-menu-pullout input {*/
/*background: black;*/
/*color: white;*/
/*}*/

/*#actions {*/
/*color: black;*/
/*!*position: fixed;*!*/
/*!*top: 570px;*!*/
/*!*left: 5px;*!*/
/*}*/



/*#actions-extras input {*/
/*width: 35px;*/
/*padding: 5px 8px 7px;*/
/*}*/

/*.create {*/
/*top: 690px;*/
/*}*/

/*.search {*/
/*top: 720px;*/
/*}*/

/*.insert {*/
/*top: 750px;*/
/*}*/

/*.remove {*/
/*top: 780px;*/
/*}*/

/*#createfixedsize-input input, #createuserdefined-input input {*/
/*float: left;*/
/*}*/

/*#createfixedsize-go p, #createuserdefined-go p {*/
/*float: right;*/
/*}*/

/*#createuserdefined-input input {*/
/*width: 80px;*/
/*}*/

/*#inserthead-input input, #inserttail-input input, #insertkth-input input {*/
/*float: left;*/
/*}*/

/*#insertkth-input input {*/
/*margin-right: 3px;*/
/*}*/

/*#inserthead-go p, #inserttail-go p, #insertkth-go p {*/
/*float: right;*/
/*}*/

/*#removekth-input input {*/
/*float: left;*/
/*}*/

/*#removekth-go p {*/
/*float: right;*/
/*}*/

/*.inputline {*/
/*display: inline;*/
/*}*/

/*. inputinline {*/
/*display: inline;*/
/*}*/

/*.gridMenu a {*/
/*cursor: pointer;*/
/*}*/

/*.gridTimeline {*/
/*cursor: pointer;*/
/*}*/
.gridControl-item {
    margin: 2.5px 0;
    font-size: 16px;
}

.gridControl button {
    color: white;
    border: none;
    cursor: pointer;
    background-color: #af4e4c;
    padding: 15px 23px;
}

.gridControl>* {
    width: 100%;
}

.gridControl button:hover {
    background-color: #96605f;
}

.gridControl input {
    padding: 5px 6px;
}

#execute {
    background-color: #4CAF50;
    font-weight: bold;
}

#execute:hover {
    background-color: #5f9661;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #96605f;
}

.dropdown-content-item {
    width: 100%;
}

.execAction {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.execAction:hover {
    opacity: 0.7;
}